.gallery1 {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 4rem;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: -10.5rem;
    border-radius: 0.5rem;
    margin: 0 auto;
  }
  
  .a1, .a2, .a3, .a4 {
    border-radius: 0.5rem;
    width: 250px;
    
  
    &:hover {
      opacity: 75%;
    }
  }
  
  .gallery1txt {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 4rem;
    column-gap: -10.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
    margin: 0 auto;
  }
  .contenedorgal {
    display: grid;
    grid-template-areas: "img1 img2 img3 retro" "img4 img5 img6 industrial";
    gap: 0px;
    width: fit-content;
    position: absolute;
    margin-left: 2.5rem;
    row-gap: 2.5rem;
  }
  
  .galtitulo {
    font-size: 2.5rem;
    font-weight: 100;
    margin-top: 7rem;
    color: $azulrodante;
    padding-bottom: 1.5rem;
    margin-left: 2.5rem;
    line-height: 1rem;
  }
  
  .gal1 {
    grid-area: img1;
    width: 350px;
    height: 350px;
    @include sombra-caja;
  }
  
  .gal2 {
    grid-area: img2;
    width: 350px;
    @include sombra-caja;
  }
  
  .gal3 {
    grid-area: img3;
    width: 350px;
    @include sombra-caja;
  }
  
  .gal4 {
    grid-area: img4;
    width: 350px;
    @include sombra-caja;
  }
  
  .gal5 {
    grid-area: img5;
    width: 350px;
    @include sombra-caja;
  }
  
  .gal6 {
    grid-area: img6;
    width: 350px;
    @include sombra-caja;
  }
