.gallery1 {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 4rem;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: -10.5rem;
    border-radius: 0.5rem;
    margin: 0 auto;
  }
  
  .a1, .a2, .a3, .a4 {
    border-radius: 0.5rem;
    width: 250px;
  
    &:hover {
      opacity: 75%;
    }
  }
  
  .gallery1txt {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 4rem;
    column-gap: -10.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
    margin: 0 auto;
  }