.light {
    font-weight: 300;
  }
  
  .bold {
    font-weight: 500;
  }
  .a1light {
    font-weight: 300;
    font-size: .9375rem;
  }
  
  .a1bold {
    font-weight: 600;
    font-size: 1.25rem;
  }

  $azulrodante: #0D0C40;
  $blancorodante: #EBEAF2;
  $negrorodante:#110904;