.vectorfinal {
    width: 100%;
  }
  
  .iconcontainer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 2rem;
  }
  
  .footer1 {
    margin-top: 10rem;
  }
  .form1 {
    align-items: center;
    padding-top: 2.75rem;
    padding-bottom: 3.75rem;
    padding-left: 20rem;
    font-size: 1.1rem;
    font-weight: 200;
    color: $negrorodante;
    justify-content: center;
  }
  
  #unirse {
    width: 8.4rem;
    height: 5.1625rem;
    font-size: 1.5625rem;
    font-weight: 400;
    color: $blancorodante;
    border: none;
    background-color: $azulrodante;
    border-radius: .1875rem;
    @include sombra-caja;
  
    &:hover {
      box-shadow: 0rem .50rem 1.5rem #000000d0;
    }
  }
  #nombre {
    width: 36.7rem;
    height: 5.0625rem;
    border: none;
    border-radius: .1875rem;
    @include sombra-caja;
    padding-left: 1rem;
    font-size: 1.25rem;
    font-weight: 100;
}
  #nombre:hover {
    box-shadow: 0rem .50rem 1.5rem #000000d0;
  }
  .vectorfinal2 {
    width: 100%;
    background-size: cover;
    position: absolute;
    margin-top: -7rem;
    z-index: -1;
  }
  
  .footer2 {
    margin-top: 50rem;
    margin-bottom: 2.5rem;
  }