.frase1 {
    text-align: center;
    margin-top: 20rem;
    color: $blancorodante;
  }
  
  #nuevosingresos {
    font-size: 1.875rem;
    font-weight: 400;
    margin-top: 7rem;
    text-decoration: underline;
    text-decoration-thickness: .0625rem;
    text-underline-offset: .625rem;
    color: $negrorodante;
    height: fit-content;
  }
  